<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="RollingFileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="D:\\SalesLog.txt" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%p][%c][%m]%n" />
		</layout>

	</appender>
<!-- Appenders -->


<!-- 3rdparty Loggers -->
<logger name="org.springframework.core">
    <level value="enfo" />
</logger>

<logger name="org.springframework.beans">
    <level value="info" />
</logger>

<logger name="org.springframework.context">
    <level value="info" />
</logger>

<logger name="org.springframework.http">
    <level value="debug" />
</logger>
    <!-- below alternate between debug and info -->
<logger name="org.springframework.web">
    <level value="debug" />
</logger>
	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out" />
		<param name="Encoding" value="Cp866" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c:- %m%n" />
		</layout>
	</appender>

	<!-- 3rd Party Loggers -->

	<logger name="org.springframework">
		<level value="error" />
	</logger>
	<!-- <logger name="org.hibernate">
		<level value="error" />
	</logger> -->
	<logger name="org.apache.tiles">
		<level value="error" />
	</logger>
	<logger name="org.displaytag">
		<level value="off" />
	</logger>
	<logger name="org.apache">
		<level value="off" />
	</logger>
	
	<!-- <logger name="struts-menu">
		<level value="off" />
	</logger> -->
	<root>
		<priority value="off"/>
		<appender-ref ref="RollingFileAppender" />
			 <appender-ref ref="ConsoleAppender" /> 
	</root>

</log4j:configuration>
